@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

.navbar {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: blur(20px);
}

.text-gradient {
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #5a5bf3, #91e7d9);
}

.text {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #5a5bf3, #91e7d9);
  text-shadow: 0 0 100px #5a5bf3;
  animation: typing 10s steps(30) infinite, blink 1s infinite;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  0%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 70%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-right: 10px solid transparent;
  }
  50% {
    border-right: 10px solid #5a5bf3;
  }
}
