@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.text-gradient {
  display: inline-block;
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #5a5bf3, #91e7d9);
}

.navbar {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: blur(20px);
}

.main-info {
  --angle: 0deg;
  border: 0.3rem solid;
  border-image: linear-gradient(var(--angle), #00cc99, #eef0f5, #6600ff) 1;
  animation: 5s rotate linear infinite;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
